# Docker compose integration tests

version: '3.8'

services:
  mock-register:
    container_name: mock-register
    image: mock-register
    hostname: mock-register
    ports: 
      - "7000:7000"
      - "7001:7001"
      - "7006:7006"
    extra_hosts:
      - "cdr-auth-server-integration-tests:host-gateway"
    environment:
      - ASPNETCORE_ENVIRONMENT=Release
    # NOTE - commented out volumes below as volume is mounted as 1001:121 (vsts:docker) in build pipeline and causes issue with chown in dockerfile (appuser:appgroup), ie stops container from starting because of different user
    # volumes:
    #   - "./_temp/mock-register/tmp:/tmp"      
    healthcheck:
      test: wget --no-check-certificate --no-verbose --spider https://localhost:7006/health || exit 1
      timeout: 5s
      interval: 5s
      retries: 50      
    depends_on:
      mssql:
        condition: service_healthy

  cdr-auth-server:
    container_name: cdr-auth-server-standalone
    image: cdr-auth-server-standalone
    build:
      context: .
      dockerfile: Dockerfile.standalone
    ports:
      - "8001:8001"    
      - "3000:3000"    
    extra_hosts:
      - "cdr-auth-server-integration-tests:host-gateway"
    environment:
      - ASPNETCORE_ENVIRONMENT=Release.Standalone
      # tests need expiry of 3600
      - CdrAuthServer__AccessTokenExpirySeconds=3600

      # NOTE - 2023/01/12 standup - not initially supporting encryption
      # - CdrAuthServer__SupportJarmEncryption=true
      - CdrAuthServer__SupportJarmEncryption=false

      - CdrAuthServer__HeadlessMode=true
    # NOTE - commented out volumes below as volume is mounted as 1001:121 (vsts:docker) in build pipeline and causes issue with chown in dockerfile (appuser:appgroup), ie stops container from starting because of different user
    # volumes:
      # - "./_temp/cdr-auth-server-standalone/tmp:/tmp"
    healthcheck:
      test: ((wget --no-check-certificate --no-verbose --spider https://localhost:8001/health) && (wget --no-check-certificate --no-verbose --spider http://localhost:3000)) || exit 1
      timeout: 5s
      interval: 5s
      retries: 50
    depends_on:
      mssql:
        condition: service_healthy
      mock-register:
        condition: service_healthy

  # cdr-auth-server-non-headless:
  #   container_name: cdr-auth-server-standalone
  #   image: cdr-auth-server-standalone
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.standalone
  #   ports:
  #     - "8001:8001"    
  #     - "3000:3000"    
  #   extra_hosts:
  #     - "cdr-auth-server-integration-tests:host-gateway"
  #   environment:
  #     - ASPNETCORE_ENVIRONMENT=Release.Standalone
  #     # tests need expiry of 3600
  #     - CdrAuthServer__AccessTokenExpirySeconds=3600
  #     - CdrAuthServer__SupportJarmEncryption=false
  #     - CdrAuthServer__HeadlessMode=false  #  
  #   healthcheck:
  #     # test: wget --no-check-certificate --no-verbose --spider https://localhost:8001/health || exit 1
  #     test: ((wget --no-check-certificate --no-verbose --spider https://localhost:8001/health) && (wget --no-check-certificate --no-verbose --spider http://localhost:3000)) || exit 1
  #     timeout: 5s
  #     interval: 5s
  #     retries: 50
  #   depends_on:
  #     mssql:
  #       condition: service_healthy
  #     mock-register:
  #       condition: service_healthy

  cdr-auth-server-integration-tests:
    container_name: cdr-auth-server-integration-tests
    image: cdr-auth-server-integration-tests
    hostname: cdr-auth-server-integration-tests
    ports: 
      - "9999:9999"
      - "9998:9998"
      - "9997:9997"
      - "9996:9996"
    build:
      context: .
      dockerfile: Dockerfile.integration-tests
    environment:
      - ASPNETCORE_ENVIRONMENT=Release.Standalone
    volumes:
      - "./_temp/cdr-auth-server-integration-tests-standalone/testresults:/testresults"
    depends_on:
      mssql:
        condition: service_healthy
      cdr-auth-server:
        condition: service_healthy
      mock-register:
        condition: service_healthy

  mssql:
    container_name: sql1
    image: 'mcr.microsoft.com/mssql/server:2019-latest'
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Pa{}w0rd2019
    healthcheck:
      test: /opt/mssql-tools/bin/sqlcmd -S . -U sa -P "Pa{}w0rd2019" -Q "SELECT 1" || exit 1
      timeout: 5s
      interval: 5s
      retries: 20
